RobotController/RobotController.exe
*.o
FTC_Simulator/Build/**
FTC_Simulator/UserSettings/Layouts/default-2021.dwlt
RobotController/build/RobotController.dir/Release/*.obj
RobotController/build/RobotController.dir/Release/RobotController.tlog/*.tlog
RobotController/build/CMakeFiles/RobotController.dir/Release/*.cu.obj
RobotController/MachineLearning/TrainingData
RobotController/build
build
RobotController/Recordings
FTC_Simulator/Assets/VisionAI_Data
RobotController/MachineLearning/rotationDetector.h5
RobotController/MachineLearning/model.onnx
RobotController/imgui.ini
